.content {
    width: 90%;
    height: 80%;

    overflow: hidden;
    border-radius: 5px;
}

.content img {
    width: 100%;
}

.ad {
    width: 90%;
    height: 80px;
    margin: 2%;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
}